In [1]:
%pip install SQLAlchemy
%pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
film = pd.read_csv('../data/film.csv')
actors = pd.read_csv('../data/actorsO.csv')
category = pd.read_csv('../data/categoryOK.csv')
inventory = pd.read_csv('../data/inventoryOK.csv')
language = pd.read_csv('../data/languageOK.csv')
film_actor = pd.read_csv('../data/film_actorOK.csv')
actors = pd.read_csv('../data/actorsO.csv')

Requirement already satisfied: SQLAlchemy in /Users/alonsoherrera/opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/alonsoherrera/opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in /Users/alonsoherrera/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [189]:
str_conn='mysql+pymysql://root:password@localhost:3306'
cursor=create_engine(str_conn)

In [190]:
#cursor.execute('create database Cine;')

In [191]:
str_conn='mysql+pymysql://root:password@localhost:3306/Cine'

cursor=create_engine(str_conn)

In [192]:
film.to_sql(name='film', con=cursor, if_exists='replace', index=False)
category.to_sql(name='category', con=cursor, if_exists='replace', index=False)
language.to_sql(name='language', con=cursor, if_exists='replace', index=False)
inventory.to_sql(name='inventory', con=cursor, if_exists='replace', index=False)

1000

In [193]:
#actorsok.drop(['Unnamed: 0'], axis=1, inplace= True)

In [194]:
actorsok.rename(columns= {'complete names':'full_names'}, inplace=True)

In [195]:
actorsok.to_sql(name='actors', con=cursor, if_exists='replace', index=False)

200

In [196]:
film_actor.drop(['Unnamed: 0'], axis=1, inplace=True)

In [197]:
film_actor.to_sql(name='filmactor', con=cursor, if_exists='replace', index=False)

1000

AttributeError: 'DataFrame' object has no attribute 'unique'